<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110254435620-p8i23v7rmfepsjcej6qgagkflkco4td2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110254435620-p8i23v7rmfepsjcej6qgagkflkco4td2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>110254435620-l1c2pcg4gn7lf9et7lehr62o2rh7ckio.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZp5209DL7sjWwffT6I5CZJRKBZF-KgsI</string>
	<key>GCM_SENDER_ID</key>
	<string>110254435620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.elvisionat.app</string>
	<key>PROJECT_ID</key>
	<string>el-visionat</string>
	<key>STORAGE_BUCKET</key>
	<string>el-visionat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110254435620:ios:69c67713fd99c738c997b1</string>
</dict>
</plist>